<section class="clean-block clean-product dark">
    <div class="container-fluid product">
        <div class="block-heading">
            <h2 class="text-info">Styles</h2>
            <p>Love these styles but want to add a color pallet, more rooms, and notes? Edit! Changed your mind about a
                style? <br> No probem, just press delete and the styles will be removed from your collection. </p>
        </div>
        <div class="block-content card-product">
            <div class="product-info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="gallery">
                            <div class="sp-wrap">
                                <a><img class="img-fluid mx-auto" src={{category.categoriesImg}}
                                        alt="category pictures" /></a>
                                {{!-- <a><img class="img-fluid d-block mx-auto" src="tech/image1.jpg" /></a>
                                <a><img class="img-fluid d-block mx-auto" src="tech/image1.jpg" /></a> --}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info">
                            <h3>{{category.category}}</h3>
                            {{!-- <div class="rating">
                                <img src="star.svg" />
                                <img src="star.svg" />
                                <img src="star.svg" />
                                <img src="star-half-empty.svg" />
                                <img src="star-empty.svg" />
                            </div> --}}
                            {{!-- <div class="price">
                                <h3>$300.00</h3>
                            </div> --}}
                            <button class="btn btn-primary show" type="button"><i class="icon-basket"></i>Add to
                                Cart</button>
                            <div class="summary">
                                <p>{{category.description}}</p>
                            </div>
                            <div class="text-center">
                                <a class="action-btn btn btn-info" href="/{{category.id}}/edit">EDIT</a>
                                <form class="delete-form" action="/{{category.id}}?_method=DELETE" method="POST">
                                    <input class="action-btn btn btn-danger" type="submit" value="DELETE">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div class="product-info">
                <div>
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#description"
                                id="description-tab">Description</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#specifications"
                                id="specifications-tabs">Specifications</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#reviews"
                                id="reviews-tab">Reviews</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane active fade show description" id="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim
                                nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit.Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit.</p>
                            <div class="row">
                                <div class="col-md-5">
                                    <figure class="figure"><img class="img-fluid figure-img" src="tech/image3.png" />
                                    </figure>
                                </div>
                                <div class="col-md-7">
                                    <h4>Lorem Ipsum</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna,
                                        dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 right">
                                    <h4>Lorem Ipsum</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna,
                                        dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.</p>
                                </div>
                                <div class="col-md-5">
                                    <figure class="figure"><img class="img-fluid figure-img" src="tech/image3.png" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show specifications" id="specifications">
                            <div class="table-responsive table-bordered">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="stat">Display</td>
                                            <td>5.2&quot;</td>
                                        </tr>
                                        <tr>
                                            <td class="stat">Camera</td>
                                            <td>12MP</td>
                                        </tr>
                                        <tr>
                                            <td class="stat">RAM</td>
                                            <td>4GB</td>
                                        </tr>
                                        <tr>
                                            <td class="stat">OS</td>
                                            <td>iOS</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="reviews">
                            <div class="reviews">
                                <div class="review-item">
                                    <div class="rating"><img src="star.svg" /><img src="star.svg" /><img
                                            src="star.svg" /><img src="star.svg" /><img src="star-empty.svg" />
                                    </div>
                                    <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>,
                                        20 Jan 2018</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc,
                                        pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit
                                        amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="reviews">
                                <div class="review-item">
                                    <div class="rating"><img src="star.svg" /><img src="star.svg" /><img
                                            src="star.svg" /><img src="star.svg" /><img src="star-empty.svg" />
                                    </div>
                                    <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>,
                                        20 Jan 2018</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc,
                                        pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit
                                        amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="reviews">
                                <div class="review-item">
                                    <div class="rating"><img src="star.svg" /><img src="star.svg" /><img
                                            src="star.svg" /><img src="star.svg" /><img src="star-empty.svg" />
                                    </div>
                                    <h4>Incredible product</h4><span class="text-muted"><a href="#">John Smith</a>,
                                        20 Jan 2018</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc,
                                        pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit
                                        amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
            {{!-- <div class="clean-related-items">
                <h3>Related Products</h3>
                <div class="items">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="clean-related-item">
                                <div class="image"><a href="#"><img class="img-fluid d-block mx-auto"
                                            src="tech/image2.jpg" /></a></div>
                                <div class="related-name"><a href="#">Lorem Ipsum dolor</a>
                                    <div class="rating"><img src="star.svg" /><img src="star.svg" /><img
                                            src="star.svg" /><img src="star-half-empty.svg" /><img
                                            src="star-empty.svg" /></div>
                                    <h4>$300</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="clean-related-item">
                                <div class="image"><a href="#"><img class="img-fluid d-block mx-auto"
                                            src="tech/image2.jpg" /></a></div>
                                <div class="related-name"><a href="#">Lorem Ipsum dolor</a>
                                    <div class="rating"><img src="star.svg" /><img src="star.svg" /><img
                                            src="star.svg" /><img src="star-half-empty.svg" /><img
                                            src="star-empty.svg" /></div>
                                    <h4>$300</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="clean-related-item">
                                <div class="image"><a href="#"><img class="img-fluid d-block mx-auto"
                                            src="tech/image2.jpg" /></a></div>
                                <div class="related-name"><a href="#">Lorem Ipsum dolor</a>
                                    <div class="rating"><img src="star.svg" /><img src="star.svg" /><img
                                            src="star.svg" /><img src="star-half-empty.svg" /><img
                                            src="star-empty.svg" /></div>
                                    <h4>$300</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</section>