<section class="clean-block clean-product dark">
    <div class="container-fluid product">
        <div class="block-heading">
            <h2 class="text-info">Styles Collection</h2>
            <p>Love these styles but want to add a color pallet, more rooms, and notes? Edit! Changed your mind about a
                style? <br> No probem, just press delete and the styles will be removed from your collection. </p>
        </div>
        <div class="block-content card-product">
            <div class="product-info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="gallery">
                            <div class="sp-wrap">
                                <a><img class="img-fluid mx-auto" src={{category.categoriesImg}}
                                        alt="category pictures" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info">
                            <h3>{{category.category}}</h3>
                            <div class="summary">
                                <p>{{category.description}}</p>
                            </div>

                            ♡
                        </div>
                        <a class="action-btn btn btn-primary" type="button" href="/{{category.id}}/edit">EDIT</a>
                    </div>
                </div>
                <div class="delete-button">

                    <form class="delete-form" action="/{{category.id}}?_method=DELETE" method="POST">
                        <input class="action-btn btn btn-danger" type="submit" value="DELETE">
                    </form>
                </div>
            </div>
            <div class="block-heading">
                <h3 class="text-info text-center">Need More?</h3>
                <p class="text-center">Click the button below for decor ideas ♡</p>
                {{#each category.designItems}}
                <a class="action-btn btn btn-primary " type="button" href="/{{../category._id}}/design/{{_id}}">Get
                    Designs</a>
                {{/each}}
            </div>
            <div class="product-info">
            </div>
        </div>
    </div>
</section>