<section class="clean-block clean-product dark">
    <div class="container-fluid product">
        <div class="block-heading">
            <h2 class="text-info">Styles Collection</h2>
            <p>Love these styles but want to add a color pallet, more rooms, and notes? Edit! Changed your mind about a
                style? <br> No probem, just press delete and the styles will be removed from your collection. </p>
        </div>
        <div class="block-content card-product">
            <div class="row align-items-center product-info">
                <div class="col-md-6"><img class="img-thumbnail figure-img img-fluid rounded"
                        src={{category.categoriesImg}} /></div>
                <div class="col-md-6 category-design">
                    <h3>{{category.category}}</h3>
                    <div class="getting-started-info">
                        <p>{{category.description}}</p>
                    </div>
                    <div class="delete-button">
                        <form class="delete-form" action="/{{category.id}}?_method=DELETE" method="POST">
                            <input class="action-btn btn btn-danger" type="submit" value="DELETE">
                            <a class="action-btn btn btn-primary main" type="button"
                                href="/{{category.id}}/edit">EDIT</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="block-heading">
                <h3 class="text-info text-center">Need More?</h3>
                <p class="text-center">Click the button below for decor ideas ♡</p>
                {{#each category.designItems}}
                <a class="action-btn btn btn-primary " type="button" href="/{{../category._id}}/design/{{_id}}">Get
                    Designs</a>
                {{/each}}
            </div>
            <div class="product-info">
            </div>
        </div>
    </div>
</section>