<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Edit Your Flair</h2>
            <h2 class="category-pink">{{flair.flairName}}</h2>
            <a href="/{{categoryId}}/design/{{designId}}/flair/{{flair._id}}">Back</a>
            <p>Change the main gallery image, add furniture gallery, and comments / descriptions to further personalize
                your style!
                ♡</p>
        </div>
        <form action="/{{categoryId}}/design/{{designId}}/flair/{{flair._id}}?_method=PATCH" method="POST">
            <div class="form-group">
                <label for="flairImg">Color Pallet Link</label>
                <input class="form-control" type="text" name="flairImg" id="flairImg" value="{{flairImg}}" />
            </div>
            <div class="form-group">
                <label for="flairName">Room Name</label>
                <input class="form-control" type="text" name="flairName" id="flairName" />
            </div>
            <div class="form-group">
                <label for="flairDescription">Room Description</label>
                <textarea class="form-control" type="text" name="flairDescription" id="flairDescription">
                 </textarea>
            </div>
            <div class="form-group">
                <label for="flairFurnitureImg1">Furniture Inspo Link</label>
                <input class="form-control" type="text" name="flairFurnitureImg1" id="flairFurnitureImg1"
                    value="{{flairFurnitureImg1}}" />
            </div>
            <div class="form-group">
                <label for="flairFurnitureImg2">Furniture Inspo Link</label>
                <input class="form-control" type="text" name="flairFurnitureImg2" id="flairFurnitureImg2"
                    value="{{flairFurnitureImg2}}" />
            </div>
            <div class="form-group">
                <label for="flairFurnitureImg3">Furniture Inspo Link</label>
                <input class="form-control" type="text" name="flairFurnitureImg3" id="flairFurnitureImg3"
                    value="{{flairFurnitureImg3}}" />
            </div>
            <div class="form-group">
                <label for="flairFurnitureDescription">Design Advice / Comments</label>
                <textarea class="form-control" type="text" name="flairFurnitureDescription"
                    id="flairFurnitureDescription">
                </textarea>
            </div>
            <div class="form-group">
                <label for="storeInfo">Where to Buy</label>
                <input class="form-control" type="text" name="storeInfo" id="storeInfo" value="{{storeInfo}}" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" value="submit">Edit Your Room!</button>
            </div>
        </form>
    </div>
</section>