<section class="clean-block about-us">
    <div class="block-heading">
        <h2 class="text-info">Your New <span class="design">Flair</span></h2>
        <p>Changed your mind about his room? No problem! Just edit, or delete with the buttons below</p>
        {{!-- <a class="btn btn-primary main" href="/new">+ Add New Style!</a> --}}
    </div>
    <section class="clean-block clean-info dark">
        <div class="">
            <div class="card-product block-heading">

                <div class="row align-items-center product-info">
                    <div class="col-md-6"><img class="img-thumbnail figure-img img-fluid rounded"
                            src={{flair.flairImg}} />
                    </div>
                    <div class="col-md-6 category-design">
                        <h3>{{flair.flairName}}</h3>
                        <div class="getting-started-info">
                            <p>{{flair.flairDescription}}</p>
                        </div>
                        {{!-- {{!-- {{!-- <a class="btn btn-primary main" href="/{{../categoryId}}/design/{{../designId}}/flair/new">+ Add  
                            More
                            Flair!</a> --}}
                    </div>
                </div>
                <main class="page gallery-page">
                    <section class="clean-block clean-gallery dark">
                        <div class="containe">
                            <div class="block-heading">
                                <h2 class="text-info">Gallery</h2>
                                <p>Get design-spiration from these amazing rooms below. Love our rooms? They are part of
                                    our Bespoke collection. <br>Check to see
                                    where we got inspiration! Want more inspiration? Add your own pictures!</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-4 item product-info"><a
                                        href="blob:https://bootstrapstudio.io/ab86f895-ecab-44d8-8570-db7bcdf08aea"
                                        class="lightbox"><img class="img-thumbnail img-fluid image"
                                            src={{flair.flairFurnitureImg1}} /></a>
                                    <br>
                                    <br>
                                </div>
                                <div class="col-md-6 col-lg-4 item product-info"><a
                                        href="blob:https://bootstrapstudio.io/2fc5dfa2-94ba-4337-9047-b77f64afe8f9"
                                        class="lightbox"><img class="img-thumbnail img-fluid image"
                                            src={{flair.flairFurnitureImg2}} /></a>
                                </div>
                                <div class="col-md-6 col-lg-4 item product-info"><a
                                        href="blob:https://bootstrapstudio.io/abaee188-e46f-4b16-8736-1875b4a8b444"
                                        class="lightbox"><img class="img-thumbnail img-fluid image"
                                            src={{flair.flairFurnitureImg3}} /></a>
                                </div>
                            </div>
                            <div class="block-heading">
                                <h2 class="text-info">Design Advice <span class="design">/</span> Comments</h2>
                                <p>{{flair.flairFurnitureDescription}}</p>
                                <h3 class="flair-name">Where to buy</h3>
                                <p>{{flair.storeInfo}}</p>
                            </div>
                        </div>
                    </section>
                </main>

                <a class="btn btn-primary main" href="/{{categoryId}}/design/{{designId}}/flair/new">+ Add
                    More
                    Flair!</a>
            </div>
        </div>
    </section>
    </div>
</section>